# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# 
# C extensions
*.so
.vscode/
.ipynb_checkpoints/
dataset/*
inference_folder/*
*.mp4
*.fuse_*
*.pt
*.yml
configs/*
core
*.html
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
